@import "./variables";

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

$desktop: 840px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }

}

body {
  color: color(primary);

  @include desktop {}
}

header {
  background-color: lightblue;
  height: 100vh;

  @include flexCenter(column);
}

footer {
  @extend header;
  a {
    background-color: $primaryButton;
    color: $textColor;
    &:hover {
      background-color: $textColor;
      color: $primaryButton;
    }
    &::before {
      content: '';
      background-color: red;
      display: block;
      width: 10px;
      height: 10px;
    }
    &::after {
      content: '';
      background-color: red;
      display: block;
      width: 10px;
      height: 10px;
    }
  }
}
