.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.grid > div {
  background: black;
  padding: 1rem;
  position: relative;
}

.grid > div::before {
  content: "";
  padding-top: 100%;
  display: block;
}

/* .grid > div > img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  margin: auto;
  bottom: 0;
  right: 0;
} */

.grid > div > img {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100%;
  transform: translate(-50%, -50%);
}

body {
  margin: 2rem;
}
